@page "/"
@attribute [Authorize]
@using System.Threading
@using Microsoft.AspNetCore.Authorization
@inject HttpClient Http

<p>LiveDocs index page</p>

<StardustDL.RazorComponents.Markdown.MarkdownRenderer Value="@MarkdownText" />

@code {
    public string MarkdownText = "#### waiting for markdown and data to be rendered...";
    private Timer _timer;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _timer = new Timer(async (object stateInfo) =>
        {
            MarkdownText = await FetchMarkdown();
            StateHasChanged();
        }, new AutoResetEvent(false), 5500, 5000);
    }

    public async Task<string> FetchMarkdown()
    {
        var response = await Http.GetFromJsonAsync<GetLiveDocsResponse>("api/v1/livedocs/test");
        return response.Markdown;
    }

    public class GetLiveDocsResponse
    {
        public string Markdown { get; init; }
    }

}


