@page "/"
@using System.Threading
@inject HttpClient Http

<h1>LiveDocs index page</h1>

<StardustDL.RazorComponents.Markdown.MarkdownRenderer Value="@MarkdownText" />

@code {
    public string MarkdownText = "";
    private Timer _timer;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _timer = new Timer(async (object stateInfo) =>
        {
            MarkdownText = await FetchMarkdown();
            StateHasChanged();
        }, new AutoResetEvent(false), 5500, 5000);
    }

    public async Task<string> FetchMarkdown()
    {
        var response = await Http.GetFromJsonAsync<GetLiveDocsResponse>("https://localhost:5001/api/v1/livedocs/test");
        return response.Markdown;
    }

    public class GetLiveDocsResponse
    {
        public string Markdown { get; init; }
    }

}
    

